



.navbar{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    padding: auto;
    background-color: white;
    border-right: 1px solid rgba(0, 0, 0, 0.093);
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.086);
}
.navchild{
    display: flex;
    justify-content: space-between;
}